<connectionStrings>
    <add name="Main1" connectionString="Data Source=WAFI\WAFI;Initial Catalog=Ember_MSSQL;User ID=sa;Password=123;Integrated Security=True" providerName="SqlServer" />
    <add name="Helper2" connectionString="Host=localhost;Port=5432;Username=wafi;Password=123;Database=Ember_PostgreSql;" providerName="PostgreSql" />
    <add name="Side3" connectionString="Server=localhost;Database=ember_mysql;User Id=root;" providerName="MySql" />
    <add name="Backup4" connectionString="Data Source=D:/WS/Ember.DBs/SqliteDB/Ember_Sqlite.db;Version=3;" providerName="Sqlite" />
</connectionStrings>